<html>
	<body>
		<table class="table table-dark">
			<tbody>
				<tr>
					<td style="...">Prénom</td>
					<td>{{ contact.firstname}}</td>
				</tr>
				<tr>
					<td style="...">Nom</td>
					<td>{{ contact.lastname}}</td>
				</tr>
				<tr>
					<td style="...">Téléphone</td>
					<td>{{ contact.phone}}</td>
				</tr>
				<tr>
					<td style="...">Email</td>
					<td>{{ contact.email}}</td>
				</tr>
				<tr>
					<td style="...">Message</td>
					<td>{{ contact.message | nl2br}}</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>
